.container{
    width: 600px;
    height: 300px;
    background-color: rgb(126, 126, 126);
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 120px 120px 120px 120px;
    row-gap: 10px;
    column-gap: 30px;
    /* grid-template-rows: repeat(2,1fr); */
   

}

.item{
    /* width: 100px;
    height: 50px; */
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
}

.one{
    grid-column: 1/3;

}
