body{
    background-color: wheat;
    font-family: Georgia;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
    color: #000000;
}
h4{
    text-align: center;
}

p{
    color:  #ff0000;
    text-align: center;
    line-height: 30px;
}

a{
    color: rgb(0, 225, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}
span{
    text-decoration: wavy underline;

}