*{
    text-align: center;
}

#mainTopic{
    color: blue;

}

h1, h3, h5{
    font-family: Georgia;
}

.content{
    color: white;
    background-color: cornflowerblue;
}

div > button {
    color: azure;
    background-color: purple;

}

div button:hover{
    background-color: yellow;
    color: blue;
}

.content:nth-of-type(2n+1){
    background-color: red;
}

h1::first-letter{
    color: red;
}

#yes:checked + label{
    color: darkgreen;
    font-weight: 400;
}
